TRAEFIK_ENABLE=true
MINIO_SITE_URL=Host(`minio.images.naturalis.nl`)
MINIO_ACCESS_KEY=1238123
MINIO_SECRET_KEY=2978349287398
SITE_URL=Host(`images.naturalis.nl`)
TRAEFIK_CERT_RESOLVER=default
# used if TRAEFIK_CERT_RESOLVER=route53
AWS_ACCESS_KEY_ID=zone_key_id
AWS_SECRET_ACCESS_KEY=zone_acces_key
AWS_HOSTED_ZONE_ID=zoneid
